body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1d2630;

}

.container{
    text-align: center;
}

.result{
    font-size: 3rem;
    color: #1d2630;
    background: #fff;
    padding: 30px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.result span{
    width: 3rem;
}

.button button{
    margin: 1rem;
    border: none;
    outline: none;
    height: 43px;
    width: 100px;
    color: #1d2630;
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}